body {
    background-image: url("../images/concrete-texture.png");
}

nav {
    height: 84px;
    border: solid #cccccc;
    background-color: #ffffff;
    line-height: 58px;
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    height: 78px;
    width: 236px;
    text-align: center;
    line-height: 86px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.about, .portfolio, .contact {
    font-family: Arial, Helvetica, sans-serif;
}

.about-link, .portfolio-link, .contact-link {
    text-decoration: none;
    color: #777777;
}
.about-link:hover, .portfolio-link:hover, .contact-link:hover {
    color: #4AA7C1;
    text-decoration: underline;
}


.about0 {
    color: #4aaaa5 !important;
}

.portfolio0 {
    color: #4aaaa5 !important;
}

.contact0 {
    color: #4aaaa5 !important;
}

.content-box {
    background-color: #ffffff;
    border: solid #dddddd;
}

h2 {
    line-height: 70px;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif
   }

#hr1 {
    background-color: #777777;
}   

img {
    float: left;
    padding: 30px;
}

.p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 16px;
}

#hr2 {
    margin: 0%;
    background-color: #4aaaa5;
    height: 10px;
    width: 100%;
    position: fixed;
    bottom: 56px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 58px;
    margin: 0;
    background-color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: smaller;
}

#pfooter {
    margin: 0%;
    line-height: 100px;
}


/* Portfolio Page Speciic */

form {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin: 30px;
    font-size: 16px;
}

.box-1, .box-2, .box-3, .box-4, .box-5 {
    height: 150px;
    width: 200px;
    /* margin-left: 30px */
}

.box-text {
    background-color: #4aaaa5;
    color: white;
    /* position: relative; */
    width: 200px;
    height: 41px;
    /* top: 100px; */
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}
.gallery-links {
    text-decoration: none;
    color: white;
    
}

.box-1 {
    background-image: url("../images/technics-q-c-200-200-1.jpg")
}

.box-2 {
    background-image: url("../images/technics-q-c-200-200-2.jpg");
    /* position: relative; */
    /* top: -150px; */
    /* left: 237px; */
}

.box-3 {
    background-image: url("../images/technics-q-c-200-200-5.jpg");
    position: relative;
    top: -130px;
}

.box-4 {
    background-image: url("../images/technics-q-c-200-200-10.jpg");
    position: relative;
    top: -280px;
    left: 237px;       
}

.box-5 {
    background-image: url("../images/technics-q-c-200-200-9.jpg");
    position: relative;
    top: -260px;
}


/* Contact Page Specific */

.submit-button {
    background-color: #4aaaa5;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}