body {
    margin: 0;
    background-image: url("../images/concrete-texture.png");
}

header {
    height: 84px;
    width: 100%;
    margin: auto;
    border: solid #cccccc;
    background-color: #ffffff;
}

h1 {
    position: relative;
    top: 0px;
    left: 18%;
    margin: 0;
    background-color: #4aaaa5;
    color: #ffffff;
    height: 84px;
    width: 236px;
    text-align: center;
    line-height: 86px;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.about, .portfolio, .contact {
    float: right;
    position: relative;
    top: 30px;
    width: 96px;
    height: 18px;
    line-height: 18px;
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
}

.contact, .portfolio {
    border-left: solid 2px;
    border-left-style: inset;
}

.contact {
    margin-right: 18%;
}

#about-link, #portfolio-link, #contact-link {
    text-decoration: none;
    color: #777777;
}
#about-link:hover, #portfolio-link:hover, #contact-link:hover {
    color: #4AA7C1;
    text-decoration: underline;
}


.about0 {
    color: #4aaaa5;
}

.portfolio0 {
    color: #4aaaa5;
}

.contact0 {
    color: #4aaaa5;
}

.content {
    height: 960px;
    margin: 0;
}

.content-box {
    height: 598px;
    width: 809px;
    background-color: #ffffff;
    margin: auto;
    top: 35px;
    position: relative;
    border: solid #dddddd;
}

h2 {
    position: relative;
    margin: 0;
    line-height: 70px;
    color: #4aaaa5;
    margin-left: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif
   }

#hr1 {
    width: 93%;
    background-color: #777777;
}   

.image-details {
    position: absolute;
}

img {
    float: left;
    padding: 30px;
}

.p {
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 16px;
}

#hr2 {
    margin: 0%;
    background-color: #4aaaa5;
    height: 10px;
    width: 100%;
    position: fixed;
    bottom: 56px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 58px;
    margin: 0;
    background-color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: smaller;
    /* flex-shrink: 0; */
}

#pfooter {
    margin: 0%;
    line-height: 100px;
}


/* Portfolio Page Speciic */

form {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin: 30px;
    font-size: 16px;
}

.box-1, .box-2, .box-3, .box-4, .box-5 {
    height: 150px;
    width: 200px;
    margin-left: 30px
}

.box-text {
    background-color: #4aaaa5;
    color: white;
    position: relative;
    width: 200px;
    height: 41px;
    top: 100px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}
.gallery-links {
    text-decoration: none;
    color: white;
    
}

.box-1 {
    background-image: url("../images/technics-q-c-200-200-1.jpg")
}

.box-2 {
    background-image: url("../images/technics-q-c-200-200-2.jpg");
    position: relative;
    top: -150px;
    left: 237px;
}

.box-3 {
    background-image: url("../images/technics-q-c-200-200-5.jpg");
    position: relative;
    top: -130px;
}

.box-4 {
    background-image: url("../images/technics-q-c-200-200-10.jpg");
    position: relative;
    top: -280px;
    left: 237px;       
}

.box-5 {
    background-image: url("../images/technics-q-c-200-200-9.jpg");
    position: relative;
    top: -260px;
}


/* Contact Page Specific */

.submit-button {
    background-color: #4aaaa5;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Media Queries */

    @media screen and (max-width: 980px) {
        h1 {
            left: 0px;
        }
    }

    @media screen and (max-width: 768px) {
        .contact {
            margin-right: 0;
        }
        .content-box {
            width: 100%;
        }
    }

    @media screen and (max-width: 640px) {
        h1 {
            position: fixed;
            top: 0px;
            width: 100%
        }
        .about, .portfolio, .contact {
            position: relative;
            top: 93px;
            right: 163px;
            width: 16%;
            height: 18px;
        }
        .content-box {
            width: 100%;
        }
    }